#p3{color: #f856ed;}
#p4{background-color: coral; border: 10px solid blue;}
#p3{margin: 50px;border: 5px solid coral;}
#p1{border: 10px solid red}
body{
    border: 20px solid rgb(9, 242, 207);
    padding: 1cm ;
    background-image: url(red-sports-car-4k-hd-mobile-31w1ea0bms8nj9o3.jpg);
}